*{
	font-family: Josefin Sans;
	margin: 0px;
	padding: 0px;


}
p{opacity:1;}

#out{
	margin-top: 10px;
	margin-bottom: 0px;
}

#cprincipal{
	width: 95%;
	display: flex;
	flex-direction: column;
	height: 1700px;
	border: 1px solid transparent;
	margin: 0 auto;
}

#menu{
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	}
ul{
	margin:15px;
}

ul li{
	border: 1px solid transparent;
	padding:30px;
	list-style-type: none;
	display: inline;
	margin-bottom: 10px;
	font-size: 20px;
}

#mercado img{
	background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/227690-200.png");
	zoom: 34%;
	background-repeat: no-repeat;
	margin-left: 800px;
}
#tran{
	height:230px;
	width: 65%;
	margin: 0 auto;
	border: 1px solid transparent;
	background-color: white;
	opacity: .7;
	border-radius: 10px;
}

#mercado{
	height: 370px;
	width: 100%;
	border: 1px solid transparent;
	background-image: url("https://www.chfa.ca/images/uploads/2015/02/Organic-Food.jpg");
	background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center center;
}
#mercado h1{
	margin-top: 5px;
	text-align: center;
}
#mercado p{
	margin-top: 2px;
	text-align: center;
	width: 600px;
	margin: 0 auto;
	color: black;
	opacity: 1;

}
#productos{
		height: 350px;
	width: 100%;
	border: 1px solid transparent;
	background-color: #FDF498;
	opacity:.7;
}
h2{
	text-align: center;
	padding: 10px;
}
#pq{
    height: 390px;
	width: 100%;
	border: 1px solid transparent;
	background-image: url("https://images.unsplash.com/reserve/vW7acWlWSk6m3e6HuxsQ_corn.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=628a141b8285c096ed0f6141851d91bb");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#t2{
	height:290px;
	width: 70%;
	
	margin: 0 auto;
	border: 1px solid transparent;
	background-color: white;
	opacity: .7;
	border-radius: 10px;
}
#pq p{
	opacity: 1;
}
#ps{
	height: 350px;
	width: 100%;
	border: 1px solid transparent;
}


#ps2{

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
#ps h2{
	text-align: center;
	margin-top: 10px;
}
.nombre{
margin-left: 36px;
margin-top: 110px;
background-color: white;
width:120px;
text-align: center;
border-radius: 10px;
opacity:.7;

}
#ps p{
	font-size: 22px;
}
#yol{
	border: 1px solid transparent;
	width: 190px;
	height: 190px;
	border-radius: 100%;
	margin: 30px;
	background-image: url("https://images.unsplash.com/uploads/141247613151541c06062/c15fb37d?crop=entropy&dpr=1.5&fit=crop&fm=jpg&h=475&ixjsv=2.1.0&ixlib=rb-0.3.5&q=66&w=1050");
	opacity: 1;
	background-size: cover;

}
#xochi{
	border: 1px solid transparent;
	width: 190px;
	height: 190px;
	border-radius: 100%;
	margin: 30px;
	background-image: url("https://images.unsplash.com/17/unsplash_527bf5fd7f5f6_1.JPG?crop=entropy&dpr=1.5&fit=crop&fm=jpg&h=475&ixjsv=2.1.0&ixlib=rb-0.3.5&q=66&w=1050");
    background-size: cover;
}
#chin{
	border: 1px solid transparent;
	width: 190px;
	height: 190px;
	border-radius: 100%;
	margin: 30px;
	background-image: url("https://images.unsplash.com/photo-1444399344830-a0f10c7f9888?crop=entropy&dpr=1.5&fit=crop&fm=jpg&h=475&ixjsv=2.1.0&ixlib=rb-0.3.5&q=66&w=1050");
    background-size: cover;
}
footer{
	height: 300px;
	width: 100%;
	border: 1px solid transparent;
	background-color: #F5EFFB;
}
footer h2{
	margin: 10px;
}
#contacto{
	width: 100%;
	height: 100px;
	border: 1px solid transparent;
	text-align: center;
	background-color: #eee6c5;
	padding-top: 20px;
}
#map{
	
	text-align: center;
	width: 100%;
	height:440px;
	zoom: 50%;
}
