*{
	margin: 0;
	padding: 0;
	font-family: Josefin Sans;
}
section{
	width: 1380px;
	height: 710px;
}
h1{
	text-align: center;
	font-family: Josefin Sans;
	padding-top: 25px;
	font-size: 50px;
}

header{
	
	background-color: yellow;
	background-size: 100%;

}
footer{
	height: 40px;
	width: 100%;
	text-align: center;
}
section#color1{
	background-color: blue;

}
section#color2{
	background-color:green;

}
section#color3{
	background-color: pink;

}
/*no tocar*/
div#myCarousel{
	width: 1380px;
	height: 710px;
}
/*no tocar*/
.item{
	width: 100%;
	height: 100%;
}


